.container-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login-container{
    border-width: 2px;
    border-radius: 20px;
    background-color: #C4C4C4;
    width: 335px;
    height: 340px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.label-input{
    width: 75%;
    align-self: center;
}
.error-div{
    align-self: center;
    justify-content: center;
}