<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Khata</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <h3 class="container">My Khata</h3>
    <div class="heading-div | container">
        

        <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalCenter" (click)="openContactForm(); wantsNewTransaction=false">Add New Contact</button>
        <button class="btn btn-success" style="margin-left: 15px;" (click)="updateContacts(); wantsNewTransaction=true; wantsNewContact=false" >Add New Transaction</button>

        <button class="btn btn-secondary" *ngIf="isTransSelected" (click)="toggleTransactionDetail(null)" style="margin-left: 15px;">Back</button>
    </div>


    

    <div class="new-contact | container" *ngIf="wantsNewContact">
        <form [formGroup]="userEmails">
        
            <label for="name">Full Name</label>
            <input type="text" class="form-control" placeholder="Enter your name" name="name" id="name" 
            [(ngModel)]="newContact.name" formControlName="name">
            <div class="alert alert-danger" style="width: 350px;"
                *ngIf="userEmails.get('name')?.invalid && userEmails.get('name')?.touched">
                <strong>Invalid Name: </strong> Name should only contain letters
            </div>
        
            <label for="phone">Phone No.</label>
            <input type="number" class="form-control" placeholder="Enter your mobile number" id="phone" name="phone" id="phone" [(ngModel)]="newContact.phoneNumber" formControlName="phoneNumber"
                maxlength="10">
        
            <label for="email-field">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" name="email"
                placeholder="Enter your email" [(ngModel)]="newContact.email">
            <div class="alert alert-danger" style="width: 350px;"
                *ngIf="userEmails.get('email')?.invalid && userEmails.get('email')?.touched">
                <strong>Invalid Email: </strong> Please enter valid email
            </div>

            <input type="submit" class="btn btn-primary" value="Add Contact" id=submit-btn name="submit-btn"
            style="margin-top:20px" (click)="addNewContact()">
            <input type="cancel" class="btn btn-danger" value="Cancel" id=cancel-btn name="cancel-btn"
            style="margin-top:20px; margin-left: 15px;" (click)="wantsNewContact=false">
        
        </form>
    </div>

    <div class="container" *ngIf="wantsNewTransaction">

        <div style="display: flex">
            <input type="text" class="form-control" placeholder="Search contact" [(ngModel)]="query">
            <button type="button" class="btn btn-danger" (click)="wantsNewTransaction=false">Cancel</button>
        </div>
        

        <div *ngFor="let contact of allContacts | search: query" class="contact-list">
            <p>{{contact.name}}</p>
            <p>{{contact.email}}</p>
            <p>{{contact.phoneNumber}}</p>
            <button type="button" class="btn btn-success" (click)="selectContact(contact)">Select</button>
        </div>
    </div>

    <div class="container" *ngIf="viewTransactionForm">
        <p>{{newContact.name}}</p>
        <input type="number" class="form-control" placeholder="Enter amount" [(ngModel)]="newTransaction.amount">
        <input type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="newTransaction.msg">
        <input type="date" class="form-control" placeholder="Select date" [(ngModel)]="newTransaction.date">

        <input type="button" class="btn btn-danger" name="transaction_type" value="You will give" (click)="newTransaction.willGet=false; createTransaction();viewTransactionForm=false">
        <input type="button" class="btn btn-success" name="transaction_type" value="You will get" style="margin-left: 15px;" (click)="newTransaction.willGet=true; 
        createTransaction();viewTransactionForm=false">
        
    </div>


    <div class="contact-list | container" *ngFor="let item of allTransactionsGroup" [hidden]="isTransSelected" (click)="toggleTransactionDetail(item)">
        <p>{{item.name}}</p>
        <p style="float: right;">{{item.willGet ? "You will get" : "You will give" }}</p>
        <p style="float: right;">{{item.netAmount}}</p>
    </div>
    <div class="contact-list | container" *ngFor="let item of userTransactions" [hidden]="!isTransSelected" >
        <p>{{item.name}}</p>
        <p>{{item.date}}</p>
        <p>{{item.msg}}
        <p style="float: right;">{{item.willGet ? "You will get" : "You will give" }}</p>
        <p style="float: right;">{{item.amount}}</p>

        <button class="btn btn-danger" (click)="deleteTransaction(item)">Delete</button>
        <button class="btn btn-warning" (click)="editTransaction(item)">Edit</button>
    </div>

    

    
</body>
</html>